<template>
  <div>
    <v-list-item>
      <v-list-item-content>
        <v-col cols="12" md="3" sm="3">
          <v-list-item-title class="text-center subtitle-1 grey--text">
            <span>Número de compra</span>
          </v-list-item-title>
          <v-divider class="orange"></v-divider>
          <v-list-item-subtitle color="black--text" class="pt-3 text-center subtitle-1 font-weight-bold">
            {{ order.number }}
          </v-list-item-subtitle>
        </v-col>
        <v-col cols="12" md="3" sm="3">
          <v-list-item-title class="text-center subtitle-1 grey--text">
            <span>Estatus</span>
          </v-list-item-title>
          <v-divider class="orange"></v-divider>
          <v-list-item-subtitle color="black--text" class="pt-3 text-center subtitle-1 font-weight-bold">
            {{ order.status.financial}}
          </v-list-item-subtitle>
        </v-col>
        <v-col cols="12" md="3" sm="3">
          <v-list-item-title class="text-center subtitle-1 grey--text">
            <span>Fecha</span>
          </v-list-item-title>
          <v-divider class="orange"></v-divider>
          <v-list-item-subtitle v-if="order.dates && order.dates.createdAt" color="black--text" class="pt-3 text-center subtitle-1 font-weight-bold">
            {{ dateFormat(order.dates.createdAt) }}
          </v-list-item-subtitle>
        </v-col>
        <v-col cols="12" md="3" sm="3">
          <v-list-item-title class="text-center subtitle-1 grey--text">
            <span>Total</span>
          </v-list-item-title>
          <v-divider class="orange"></v-divider>
          <v-list-item-subtitle v-if="order.totals && order.totals.total" color="black--text" class="pt-3 text-center subtitle-1 font-weight-bold">
            {{order.totals.total | money }}
          </v-list-item-subtitle>
        </v-col>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>
<script>
import moment from 'moment'

export default {
  props: {
    order: Object,
    default: () => {}
  },
  methods: {
    dateFormat (date) {
      return moment(date).format('L')
    }
  }
}
</script>