<template>
  <v-dialog v-model="activateDialog" @click:outside="close" max-width="600px">
    <v-card>
      <v-card-title class="blue-grey darken-2 white--text">
        Agregar producto
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          icon
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="grey lighten-4 pt-5">
      <v-form ref="form" v-model="valid">
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="item.sku"
              :rules="rules.requireRules"
              label="Sku"
              outlined
              required
              background-color="white"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="item.name"
              :rules="rules.requireRules"
              label="Nombre"
              outlined
              required
              background-color="white">
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="item.quantity"
              :rules="rules.requireRules"
              label="Cantidad"
              outlined
              required
              background-color="white"
              type="number">
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="item.price"
              :rules="rules.requireRules"
              label="Precio"
              prefix="$"
              outlined
              required
              background-color="white"
              type="number">
            </v-text-field>
          </v-col>
        </v-row>
      </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
        <v-btn :disabled="!valid" text color="primary" @click="addNewProduct">Agregar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    activateDialog: Boolean,
    product: Object
  },
  data () {
    return {
      valid: false,
      rules: {
        requireRules: [
          v => !!v || 'Requerido'
        ]
      },
      item: {}
    }
  },
  methods: {
    close () {
      this.$emit('closeDialog')
      this.$refs.form.reset()
    },
    addNewProduct () {
      this.$emit('addProduct', this.item)
    }
  },
  watch: {
    activateDialog (value) {
      if(value) {
        this.item = this.product
      }
    }
  }
}
</script>