<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="1000"
      @click:outside="close"
    >
      <v-card>
        <v-card-title class="headline blue-grey darken-2 white--text">
          Orden de compra - 
          <span v-if="orderNumber" class="pl-2 white--text" >{{orderNumber}}</span>
          <v-spacer></v-spacer>
          <v-btn icon @click="close">
            <v-icon class="white--text">mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="pt-5">
          <v-toolbar>
            <v-toolbar-title class="font-weight-bold">Lista de productos</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  @click="addNewProduct"
                  class="blac--text"
                  text
                  v-bind="attrs"
                  v-on="on"
                >
                <v-icon>mdi-text-box-plus</v-icon>
                  Nuevo producto
                </v-btn>
              </template>
              <span>Agregar nuevo producto</span>
            </v-tooltip>
          </v-toolbar>
            <v-data-table
              :items="products"
              :headers="tableHeaders"
              :items-per-page="5"
              class="elevation-1"
            >
              <template v-slot:item.price="{ item }">
                <span> {{ item.price | money }} </span>
              </template>
              <template v-slot:footer="{}">
                <div>
                  <v-row justify="end">
                    <v-col cols="12" md="4" sm="4">
                      <table class="text-start" style="width:100%; text-align: start">
                        <tfoot>
                          <tr v-for="(field, i) in footerFields" :key="i">
                            <td
                              class="subtitle-2 font-weight-regular"
                              style=" border-bottom: 1px solid #ddd;"
                            >
                              {{ field.text }}
                            </td>
                            <td
                              class="align-end subtitle-1 font-weight-medium"
                              style=" border-bottom: 1px solid #ddd;"
                            >
                              {{ field.value | money }}
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </v-col>
                  </v-row>
                </div>
              </template>
            </v-data-table>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="payPurchaseOrder">Pagar orden</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <formProduct
      :activateDialog="activateDialog"
      @closeDialog="activateDialog = false"
      @addProduct="addProduct"
      :product="product"/>
  </div>
</template>
<script>
import formProduct from './formProduct'
import Swal from 'sweetalert2'

export default {
  components: {
    formProduct
  },
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    products: {
      type: Array,
      default: () => []
    },
    orderNumber: {
      type: String
    }
  },
  data () {
    return {
      tableHeaders: [
        {
          text: 'Sku',
          value: 'sku'
        },
        {
          text: 'Nombre',
          value: 'name'
        },
        {
          text: 'Cantidad',
          value: 'quantity'
        },
        {
          text: 'Precio',
          value: 'price'
        }
      ],
      activateDialog: false,
      product: {}
    }
  },
  methods: {
    close () {
      this.$emit('closeDialog')
    },
    addNewProduct () {
      this.product = {}
      this.activateDialog = true
    },
    addProduct (product) {
      this.products.push(product)
      this.activateDialog = false
      this.successAlert()
    },
    successAlert() {
      Swal.fire({
        title: 'Exito',
        text: 'Se agrego correctamente',
        icon: 'success',
        showConfirmButton: false,
        timer: 1500
      })
    },
    payPurchaseOrder () {
      this.$emit('payPurchaseOrder')
    }
  },
  computed: {
    footerFields () {
      return [
        {
          text: 'Total',
          value: this.total
        }
      ]
    },
    total () {
      if (!this.products.length) {
        return 0
      } else {
        let total = this.products.map(c => c.price * c.quantity)
          .reduce((a, b) => a + b, 0)
        return total.toFixed(2)
      }
    }
  }
}
</script>