<template>
  <v-container class="pt-10">
    <v-toolbar dark class="grey darken-3">
      <v-toolbar-title class="white--text font-weight-bold">
        <v-icon large class="white--text">mdi-cart-check</v-icon>
        Ordenes de compra
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-col cols="6" md="6" lg="3">
        <v-text-field
          v-model="searchOrder"
          persistent-hint
          append-icon="mdi-magnify"
          label="Buscar orden de compra"
          single-line
          hide-details
          filled
          dense
          clearable
        ></v-text-field>
      </v-col>
    </v-toolbar>
    <v-card
      tile
      class="pa-5 align-center scroll pt-10"
      id="scroll-target"
      style="max-height: 750px" fluid
      :loading="isLoading"
    >
      <v-container
        v-for="order of filteredOrders"
        :key="order.id"
      >
        <v-card class="text-center" color="grey lighten-3">
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-subtitle>Número de orden</v-list-item-subtitle>
              <v-list-item-title class="font-weight-bold">
                <h2>{{order.number}}</h2>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              text
              color="teal accent-4"
              @click="order.reveal = true"
            >
              ver detalles
            </v-btn>
            <v-btn
              text
              color="red accent-2"
              @click="goToDetailProducts(order)"
            >
              ver productos
            </v-btn>
          </v-card-actions>
          <v-expand-transition>
            <v-card
              v-if="order.reveal"
              class="transition-fast-in-fast-out v-card--reveal"
            >
                <p class="display-1 text--primary text-center pt-10">
                  <v-icon large>mdi-cart-outline</v-icon>
                  {{order.name}}
                </p>
              <v-card-text>
                <detailsOrder :order="order"/>
              </v-card-text>
              <v-card-actions class="pt-0">
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="teal accent-4"
                  @click="order.reveal = false"
                >
                  Cerrar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expand-transition>
        </v-card>
      </v-container>
      <v-alert
        prominent
        type="error"
        v-if="showAlert && !isLoading"
      >
        <v-row align="center">
          <v-col class="grow">
            Hubo un error al cargar los datos.
          </v-col>
          <v-col class="shrink">
            <v-btn @click="getOrders">Intentelo denuevo</v-btn>
          </v-col>
        </v-row>
      </v-alert>
    </v-card>
    <products
      :dialog="dialog"
      @closeDialog="dialog = false"
      :products="products"
      :orderNumber="orderNumber"
      @payPurchaseOrder="payPurchaseOrder"/>
  </v-container>
</template>
<script>
import api from '../services/api'
import Products from './products.vue'
import detailsOrder from './detailsOrder'
import Swal from 'sweetalert2'

export default {
  components: {
    Products,
    detailsOrder
  },
  data () {
    return {
      orders: [],
      dialog: false,
      products: [],
      orderNumber: null,
      isLoading: true,
      showAlert: false,
      searchOrder: ''
    }
  },
  methods: {
    async getOrders () {
      let products = await api.getAll()
      if(products.orders) {
        this.orders = products.orders.map(order => {
          return {
            currency: order.currency,
            status: order.status,
            name: order.name,
            number: order.number,
            dates: order.dates,
            totals: order.totals,
            items: order.items,
            id: order.id,
            reveal: false
          }
        })
        this.isLoading = false
      } else {
        this.showAlert = true
        this.isLoading = false
      }
    },
    goToDetailProducts (order) {
      this.dialog = true
      this.orderNumber = order.number
      this.products = order.items
    },
    payPurchaseOrder () {
      this.dialog = false
      Swal.fire({
        icon: 'success',
        title: 'Proceso exitoso',
        showConfirmButton: false,
        timer: 1800,
        showClass: {
          popup: 'animate__animated animate__fadeInDown'
        },
        hideClass: {
          popup: 'animate__animated animate__fadeOutUp'
        }
      })
    }
  },
  mounted () {
    this.getOrders()
  },
  computed: {
    filteredOrders () {
      if (this.searchOrder) {
        return this.orders.filter(c => c.number.toLowerCase().match(this.searchOrder.toLowerCase()))
      } else {
        return this.orders
      }
    }
  },
  watch: {
  }
}
</script>
<style>
.scroll {
  overflow-y: auto;
}
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
</style>