<template>
  <v-app>
    <v-main>
      <purchaseOrders/>
    </v-main>
  </v-app>
</template>

<script>
/**
 * 
 * @author Mariela Temozihui Tlahuel <marii0912ela@gmail.com>
 */

import purchaseOrders from './pages/purchaseOrders'
export default {
  name: 'App',

  components: {
    purchaseOrders,
  },

  data: () => ({
    //
  }),
};
</script>
